// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
@use "sass:math";

$bp-larger-than-mobile    : "min-width: 320px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$blue-color: #003399 !default;
$white-color: #fff !default;
$black-color: #000 !default;
$light-grey: #f4f4f4 !default;
$dark-grey: #333 !default;
$primary-color: #FFCC00 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: $blue-color !default;
$font-color: #000 !default;

// Typography
$font-family: 'Epilogue', sans-serif !default;
// $font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 1020px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: math.div(100, $total-columns) !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
$content-radius: 6px !default;
